# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Secrets / local config
cookies.json
.evn

# Python tooling caches
.python-version
.pytest_cache/
.mypy_cache/

# OS junk
.DS_Store
Thumbs.db
my_valo.txt
